body {
    background-color: beige;
}
#contenedor {
    width: 80%;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 10px
}

.caja1 {
    display: inline-block;
    width: 40%;
}

.caja2 {
      display: inline-block;
    width: 40%;
}
