body {
    background-color: beige;
}
#contenedor {
    width: 80%;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 10px
}

.caja1 {
    display: inline-block;
    width: 40%;
}

.caja2 {
      display: inline-block;
    width: 40%;
}
h1 {
    color: plum;
    border: 2px solid;
    border-radius: 5px;
    background-color: aquamarine;
    margin: 0 200px;
}
h2 {
    color: blueviolet;
    font-size: 28px;
}
